* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 3rem;
    background-color: #1E3A5F;
    position: fixed;
    width: 100%;
}

.logo {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    gap: 10px;
}

.logo h4 {
    font-size: 2rem;
    font-weight: 500;
    color: #C89B3C;
}

.nav-links {
    display: flex;
    justify-self: center;
    align-items: center;
}

.nav-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.1rem;
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 100%;
}

#homepage {
    color: #FFFFFF;
}

#other-pages {
    color: #BFB7B7;
    transition: .32s ease all;
}

#other-pages:hover {
    color: #FFFFFF;
}

.nav-btn {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    gap: 1rem;
}

#login-btn {
    background-color: transparent;
    color: #C89B3C;
    font-size: 1rem;
    padding: .8rem 2rem;
    border: 1px solid #C89B3C;
    border-radius: 5px;
}

#get-started-btn {
    background-color: #C89B3C;
    color: #FFFFFF;
    font-size: 1rem;
    padding: .8rem 2rem;
    border-radius: 5px;
    border: none;
}

.hero-page {
    display: flex;
    flex-direction: column;
    background-color: #112240;
    padding: 1rem 3rem;
}

.hero-top {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.hero-left {
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
}

.hero-description {
    display: flex;
    padding: .5rem 1rem;
    gap: .5rem;
    border: 1px solid rgba(200, 155, 60, 1);
    border-radius: 15rem;
    background-color: rgba(200, 155, 60, 0.1);
    width: fit-content;
    margin-bottom: 1rem;
}

.hero-description p {
    color: rgba(200, 155, 60, 1);
    font-size: .8rem;
    font-weight: 400;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-text h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #FFFFFF;
}

.hero-text h1 span {
    color: #C89B3C;
}

.hero-text p {
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(191, 183, 183, 1);
}

.hero-btn {
    display: flex;
    gap: 2rem;
    margin-top: 3.5rem;
}

.hero-right {
    width: 35rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    background-color: #FFFFFF;
    border-radius: 1rem;
    gap: 1.5rem;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#name {
    display: flex;
    gap: 8px;
    align-items: flex-end;
}

#status {
    display: flex;
    gap: 8px;
    background-color: rgba(11, 255, 133, 1);
    padding: 3px 1rem;
    border-radius: 1rem;
}

#status p {
    font-size: 1rem;
    color: rgba(5, 68, 49, 1);
    font-weight: 600;
}

.counter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#other-counter {
    display: flex;
    flex-direction: column;
    background-color: rgba(191, 183, 183, 1);
    padding: 5px 1.3rem;
    gap: 5px;
    border-radius: 10px;
    justify-content: center;
}

#other-counter h1 {
    font-size: 2rem;
    font-weight: 800;
    color: rgba(0, 0, 0, 1);
}

#other-counter p {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(72, 67, 67, 1);
}

#main-counter {
    display: flex;
    flex-direction: column;
    background-color: rgba(191, 183, 183, 1);
    padding: 5px 1.3rem;
    gap: 5px;
    border-radius: 10px;
    justify-content: center;
}

#main-counter h1 {
    font-size: 2rem;
    font-weight: 800;
    color: rgba(192, 57, 43, 1);
}

#main-counter p {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(72, 67, 67, 1);
}

.progress-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 5px;
}

.bar h4 {
    justify-self: flex-start;
    color: rgba(124, 129, 135, 1);
}

.bar h5 {
    justify-self: flex-end;
    font-size: 1rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.bar h6 {
    width: 6rem;
    justify-self: flex-start;
    font-size: 1rem;
    color: rgba(124, 129, 135, 1);
    font-weight: 500;
}

#bar-title {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 13px;
}

#bar-title h6 {
    width: 3rem;
    justify-self: flex-start;
    font-size: 1rem;
    color: rgba(124, 129, 135, 1);
    font-weight: 500;
}

#bar-outer {
    display: flex;
    background-color: rgba(191, 183, 183, 1);
    justify-self: center;
    width: 24rem;
    height: 1rem;
    border-radius: 10px;
}

#bar-inner1 {
    background-color: rgba(30, 58, 95, 1);
    justify-self: flex-start;
    width: 80%;
    height: 1rem;
    border-radius: 10px;
}

#bar-inner2 {
    background-color: rgba(192, 57, 43, 1);
    justify-self: flex-start;
    width: 60%;
    height: 1rem;
    border-radius: 10px;
}

#bar-inner3 {
    background-color: rgba(26, 122, 74, 1);
    justify-self: flex-start;
    width: 40%;
    height: 1rem;
    border-radius: 10px;
}

.client-details {
    display: flex;
    align-items: center;
    background-color: rgba(191, 183, 183, 1);
    justify-content: space-between;
    padding: 1rem 3rem;
    border-radius: 10px;
}

.client-name h1 {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: rgba(30, 58, 95, 1);
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}

.client-name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#name-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#name-details h6 {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1)
}

#name-details p {
    font-size: .9rem;
    font-weight: 400;
    color: rgb(84, 86, 88);
    letter-spacing: 1px;
}

#date {
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: rgba(217, 217, 217, 1);
    padding: 5px 15px;
    border-radius: 5px;
}

#date img {
    width: 1.5rem;
    height: 1.5rem;
}

#date h6 {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(200, 155, 60, 1);
}

.hero-line {
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
}

.hero-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 12rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #C89B3C;
}

.bottom p {
    display: inline-block;
    width: 8rem;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}