* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-track{
    display: flex;
    align-items: center;
    font-size: 46px;
    font-weight: 600;
    gap: 15px;
    width: 100%;
    height: 70px;
    background-color: #112240;
    color: white;
}