<!doctype html>
<html lang="en">
  <head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BizPal</title>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
   <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/bold/style.css"
    />
    <link rel="stylesheet" href="/Layout/layout.css">
    <script src="/js/script.js" defer></script>
  </head>

  <body>
    <div class="container">
      <div class="side-container-customer">
        <!-- Left Sidebar -->
        <aside class="sidebar1">
          <div class="nickname">
            <div class="icon-wrapper">
              <span class="initials">CE</span>
            </div>
          </div>
          <div class="shop-name">
            <h1>Chidi's</h1>
            <p>Electronics</p>
          </div>
        </aside>

        <!-- Left Sidebar -->
        <aside class="sidebar2">
          <nav>
            <ul class="nav-links">
              <li class="dashboard">
                <a class="other-link" href="index.html">
                  <img src="Layout icons/Dashboard.svg" alt="Dashboard icon" />
                  Dashboard
                </a>
              </li>
              <li>
                <a class="main-link" href="customers.html">
                  <img src="Layout icons/Customer.svg" alt="Customers icon" />
                  Customers
                </a>
              </li>
              <li>
                <a class="other-link" href="lead.html">
                  <img src="Layout icons/Lead.svg" alt="Lead Pipeline icon" />
                  Lead Pipeline
                </a>
              </li>
              <li>
                <a class="other-link" href="notes.html">
                  <img src="Layout icons/Notes.svg" alt="Notes icon" /> Notes
                </a>
              </li>
              <li>
                <a class="other-link" href="followups.html">
                  <img
                    src="Layout icons/Follow-ups.svg"
                    alt="Follow-ups icon"
                  />
                  Follow-ups
                </a>
              </li>
              <li class="report">
                <a class="other-link" href="reports.html">REPORTS</a>
              </li>
              <li>
                <a class="other-link" href="analytics.html">
                  <img
                    src="Layout icons/carbon_analytics.svg"
                    alt="Analytics icon"
                  />
                  Analytics
                </a>
              </li>
              <li>
                <a class="other-link" href="settings.html">
                  <img src="Layout icons/Settings.svg" alt="Settings icon" />
                  Settings
                </a>
              </li>
            </ul>
          </nav>

          <!-- profile picture upload control -->
          <input type="file" id="profile-upload" accept="image/*" hidden />
          <label for="profile-upload" class="profile-button">
            <div class="profile-pic">
              <img id="profile-img" src="Layout icons/Ellipse 13.svg" alt="Profile Picture" />
              <span id="profile-initial" class="initial">C</span>
            </div>
            <div class="profile-info">
              <h4>Chidi Okafor</h4>
              <p>Admin</p>
            </div>
          </label>
        </aside>
      </div>

      <!-- Top Bar -->
      <header class="topbar">
        <div class="mobile-top">
          <div class="hamburger" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="mobile-logo">
            <img src="Layout icons/logo.svg" alt="">
            <h2>Bizpal</h2>
          </div>
        </div>
        <div class="main-topbar">
          <div class="addcustomer-topbar">
            <img src="Layout icons/arrow icon.svg" alt="">
            <h1>Customers</h1>
          </div>
          <!-- <div class="search-box">
            <img class="search-icon" src="Layout icons/search.svg" alt="">
            <input class="search" type="search" placeholder="Search Customers....">
            <img class="notification-icon" src="Layout icons/notification icon.svg" alt="">
          </div> -->
        </div>
      </header>

      <!-- Main Content -->
      <main class="main">
        <section class="add-customer-main">
          <div class="add-title">
            <h1>Add New Customer</h1>
            <p>Fill in the details below to save this customer.</p>
            <p class="required">Required Field</p>
            <div class="basic">
                <h1>BASIC INFORMATION</h1>
                <hr>
            </div>
            <div class="add-input">
                <div class="add-details">
                    <label for="text">Customer Name </label>
                    <input type="text" placeholder="e.g. Chidi Okafor">
                </div>
                <div class="add-details">
                    <label for="number">Phone Number</label>
                    <input type="number" placeholder="e.g. 0803 456 7890">
                </div>
                <div class="add-details">
                    <label for="email">Email Address (Optional)</label>
                    <input type="email" placeholder="e.g. chidi@example.com">
                </div>
                <div class="add-details">
                    <label for="text">Business Type</label>
                    <input type="text" placeholder="e.g. Retail Shop">
                </div>
            </div>
            <div class="add-location">
                <label for="text">Business Type</label>
                <div>
                    <input type="text" placeholder="e.g. Yaba, Lagos">
                    <p>City or neighbourhood — helps you understand where your customers come from</p>
                </div>
            </div>
            <hr class="bottom-line">
            <div class="add-note">
                <h1>ADDITIONAL NOTE</h1>
                <hr>
            </div>
            <div class="add-message">
                <label for="text">Notes (Optional)</label>
                <textarea name="" rows="5" id="text" placeholder="e.g. Referred by Ngozi. Interested in the premium package. Prefers calls in the morning..."></textarea>
            </div>
            <a class="save-btn" href="customers.html">Save Customer →</a>
          </div>
          <div class="mobile-icons">
            <div class="other-icon">
            <img src="Layout icons/home icon.svg" alt="">
            <a href="index.html">Home</a>
          </div>
          <div class="main-icon">
            <img src="Layout icons/people icon.svg" alt="">
            <a href="customer.html">Customers</a>
          </div>
          <div class="other-icon">
            <img src="Layout icons/chart icon.svg" alt="">
            <a href="analytics.html">Leads</a>
          </div>
          <div class="other-icon">
            <img src="Layout icons/time cion.svg" alt="">
            <a href="">Follow-ups</a>
          </div>
          <div class="other-icon">
            <img src="Layout icons/settings icon.svg" alt="">
            <a href="settings.html">Settings</a>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
