<!doctype html>
<html lang="en">
  <head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BizPal</title>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
   <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/bold/style.css"
    />
    <link rel="stylesheet" href="/Layout/layout.css">
    <script src="/js/script.js" defer></script>
  </head>

  <body>
    <div class="container">
      <div class="side-container-analytics">
        <!-- Left Sidebar -->
        <aside class="sidebar1">
          <div class="nickname">
            <div class="icon-wrapper">
              <span class="initials">CE</span>
            </div>
          </div>
          <div class="shop-name">
            <h1>Chidi's</h1>
            <p>Electronics</p>
          </div>
        </aside>

        <!-- Left Sidebar -->
        <aside class="sidebar2">
          <nav>
            <ul class="nav-links">
              <li class="dashboard">
                <a class="other-link" href="index.html">
                  <img src="Layout icons/Dashboard.svg" alt="Dashboard icon" />
                  Dashboard
                </a>
              </li>
              <li>
                <a class="main-link" href="customers.html">
                  <img src="Layout icons/Customer.svg" alt="Customers icon" />
                  Customers
                </a>
              </li>
              <li>
                <a class="other-link" href="lead.html">
                  <img src="Layout icons/Lead.svg" alt="Lead Pipeline icon" />
                  Lead Pipeline
                </a>
              </li>
              <li>
                <a class="other-link" href="notes.html">
                  <img src="Layout icons/Notes.svg" alt="Notes icon" /> Notes
                </a>
              </li>
              <li>
                <a class="other-link" href="followups.html">
                  <img
                    src="Layout icons/Follow-ups.svg"
                    alt="Follow-ups icon"
                  />
                  Follow-ups
                </a>
              </li>
              <li class="report">
                <a class="other-link" href="reports.html">REPORTS</a>
              </li>
              <li>
                <a class="other-link" href="analytics.html">
                  <img
                    src="Layout icons/carbon_analytics.svg"
                    alt="Analytics icon"
                  />
                  Analytics
                </a>
              </li>
              <li>
                <a class="other-link" href="settings.html">
                  <img src="Layout icons/Settings.svg" alt="Settings icon" />
                  Settings
                </a>
              </li>
            </ul>
          </nav>

          <!-- profile picture upload control -->
          <input type="file" id="profile-upload" accept="image/*" hidden />
          <label for="profile-upload" class="profile-button">
            <div class="profile-pic">
              <img id="profile-img" src="Layout icons/Ellipse 13.svg" alt="Profile Picture" />
              <span id="profile-initial" class="initial">C</span>
            </div>
            <div class="profile-info">
              <h4>Chidi Okafor</h4>
              <p>Admin</p>
            </div>
          </label>
        </aside>
      </div>

      <!-- Top Bar -->
      <header class="topbar">
        <div class="mobile-top">
          <div class="hamburger" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="mobile-logo">
            <img src="Layout icons/logo.svg" alt="">
            <h2>Bizpal</h2>
          </div>
        </div>
        <div class="main-topbar">
          <div class="topbar-left">
            <h1>Customers</h1>
            <!-- <p>Here`s what`s happening at your shop today</p> -->
          </div>
          <div class="search-box">
            <img class="search-icon" src="Layout icons/search.svg" alt="">
            <input class="search" type="search" placeholder="Search Customers....">
            <img class="notification-icon" src="Layout icons/notification icon.svg" alt="">
          </div>
        </div>
      </header>

      <!-- Main Content -->
      <main class="main">
        <section class="customer-main">
          <div class="customer-details">
            <div class="customer-top">
              <div class="top-details">
                <h1>All Customers</h1>
                <span>12 customers total, 5 active leads</span>
              </div>
              <a href="add customer.html">+ Add Customer</a>
            </div>
            <div class="customer-center">
              <div class="center-details">
                <div class="active">
                  <h4>All</h4>
                  <span>(12)</span>
                </div>
                <div class="other">
                  <h4>Active Leads</h4>
                  <span>(5)</span>
                </div>
                <div class="other">
                  <h4>Closed</h4>
                  <span>(3)</span>
                </div>
              </div>
            </div>
            <div class="customer-bottom">
              <div class="details1">
                <h2>CUSTOMERS</h2>
                <div class="customer-profile">
                  <input type="image">
                  <div class="interested">
                    <h4>Emeka Nwosu</h4>
                    <p>Samsung TV repair</p>
                  </div>
                </div>
                <div class="customer-profile">
                  <input type="image">
                  <div class="interested">
                    <h4>Emeka Nwosu</h4>
                    <p>Samsung TV repair</p>
                  </div>
                </div>
              </div>
              <div class="details2">
                <h2>NUMBER</h2>
                <p>08012345678</p>
                <p>08012345678</p>
              </div>
              <div class="details3">
                <h2>LOCATION</h2>
                <p>Lagos Island</p>
                <p>Ikeja</p>
              </div>
              <div class="details4">
                <h2>STATUS</h2>
                <span>Interested</span>
                <span>New</span>
              </div>
              <div class="details5">
                <h2>CONTACT</h2>
                <P>2hrs ago</P>
                <P>5hrs ago</P>
              </div>
              <div class="details6">
                <h2>ACTION</h2>
                <div class="view-edit">
                  <a href="">View</a>
                  <a href="">Edit</a>
                </div>
                <div class="view-edit">
                  <a href="">View</a>
                  <a href="">Edit</a>
                </div>
              </div>
            </div>
          </div>
          <div class="mobile-icons">
            <div class="other-icon">
            <img src="Layout icons/home icon.svg" alt="">
            <a href="index.html">Home</a>
          </div>
          <div class="main-icon">
            <img src="Layout icons/people icon.svg" alt="">
            <a href="customer.html">Customers</a>
          </div>
          <div class="other-icon">
            <img src="Layout icons/chart icon.svg" alt="">
            <a href="analytics.html">Leads</a>
          </div>
          <div class="other-icon">
            <img src="Layout icons/time cion.svg" alt="">
            <a href="">Follow-ups</a>
          </div>
          <div class="other-icon">
            <img src="Layout icons/settings icon.svg" alt="">
            <a href="settings.html">Settings</a>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
