<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BizPal</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/Layout/layout.css">
  <script src="/js/script.js"></script>
</head>

<body>
  <div class="container">
    <div class="side-container">
      <!-- Left Sidebar -->
      <aside class="sidebar1">
        <div class="nickname">
          <div class="icon-wrapper">
            <span class="initials">CE</span>
          </div>
        </div>
        <div class="shop-name">
          <h1>Chidi's</h1>
          <p>Electronics</p>
        </div>
      </aside>

      <!-- Left Sidebar -->
      <aside class="sidebar2">
        <nav>
          <ul class="nav-links">
            <li class="dashboard">
              <a href="dashboard.html">
                <img src="Layout icons/Dashboard.svg" alt="Dashboard icon" />
                Dashboard
              </a>
            </li>
            <li>
              <a href="customers.html">
                <img src="Layout icons/Customer.svg" alt="Customers icon" />
                Customers
              </a>
            </li>
            <li>
              <a href="lead.html">
                <img src="Layout icons/Lead.svg" alt="Lead Pipeline icon" />
                Lead Pipeline
              </a>
            </li>
            <li>
              <a href="notes.html">
                <img src="Layout icons/Notes.svg" alt="Notes icon" /> Notes
              </a>
            </li>
            <li>
              <a href="followups.html">
                <img src="Layout icons/Follow-ups.svg" alt="Follow-ups icon" />
                Follow-ups
              </a>
            </li>
            <li class="report">
              <a href="reports.html">REPORTS</a>
            </li>
            <li>
              <a href="analytics.html">
                <img src="Layout icons/carbon_analytics.svg" alt="Analytics icon" />
                Analytics
              </a>
            </li>
            <li>
              <a href="settings.html">
                <img src="Layout icons/Settings.svg" alt="Settings icon" />
                Settings
              </a>
            </li>
          </ul>
        </nav>

        <!-- profile picture upload control -->
        <input type="file" id="profile-upload" accept="image/*" hidden />
        <label for="profile-upload" class="profile-button">
          <div class="profile-pic">
            <img id="profile-img" src="Layout icons/Ellipse 13.svg" alt="Profile Picture" />
            <span id="profile-initial" class="initial">C</span>
          </div>
          <div class="profile-info">
            <h4>Chidi Okafor</h4>
            <p>Admin</p>
          </div>
        </label>
      </aside>
    </div>

    <!-- Top Bar -->
    <header class="topbar">
      <div class="topbar-left">
        <h1>Good morning, Chidi 👋</h1>
        <p>Here’s what’s happening at your shop today</p>
      </div>

      <div class="topbar-right">
        <div class="date-box">
          <img src="Layout icons/Calendar.svg" alt="Calendar Icon" />
          <span id="current-date">Friday, Jun 13 2026</span>
        </div>
      </div>
    </header>



    <!-- Main Content -->
    <main class="main">

      <div class="Lead-container">

        <div class="Lead-Dash total-customers">
          <h1>Total Customers</h1>
          <p>+12 this month</p>
          <div class="Lead-circle">
          </div>
        </div>




        <div class="Lead-Dash active-leads">
          <h1>Active Leads</h1>
          <p>+5 today</p>
          <div class="Lead-circle">
          </div>
        </div>




        <div class="Lead-Dash deals-closed">
          <h1>Deals Closed</h1>
          <p>+15 today</p>
          <div class="Lead-circle">
          </div>
        </div>




        <div class="Lead-Dash conversion">
          <h1>Conversion</h1>
          <div class="rate-section">
            <img src="Layout icons/rate.svg" alt="Arrow Up Icon" />
            <p>4% up</p>
          </div>
          <div class="Lead-circle">
          </div>
        </div>
      </div>

      <p class="Quick">Quick Actions</p>

      <div class="q-container">

        <div class="q-action1">
          <h1>+ Add Customer</h1>
        </div>

        <div class="q-action2">
          <h1>+ Add Lead</h1>
        </div>

        <div class="q-action3">
          <h1>+ Log Note</h1>
        </div>

      </div>



      <img class="funnel" src="Layout icons/funnel.svg" alt="Dashboard Image" />
      <div class="Lead-Header">
      <div class="Lead-Info">
        <h1>No leads yet</h1>
        <p>Start tracking potential customers by </p>
          <p>adding your first lead</p>
      </div>

      <div class="Lead-btn">
        <button>Add Your First Lead</button>
      </div>
      </div>
  </main>

</div>
</body>

</html>