* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 356px 1fr;
  grid-template-rows: 110px 600px;
}

.side-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar1 {
  display: flex;
  padding-left: 0px;
  align-items: center;
  grid-row: 1;
  grid-column: 1;
  gap: 15px;
  background-color: #1e3a5f;
  width: 356px;
  height: 110px;
  color: white;
  padding-left: 25px;
}

.icon-wrapper {
  position: relative;
  width: 55px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper .initials {
  font-size: 23px;
  font-weight: 800;
  color: white;
}

.shop-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shop-name h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
}

.shop-name p {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}


.sidebar2 {
   display: flex;
   justify-content: flex-start;
  padding-left: 0px;
  flex-direction: column;
  grid-row: 2;
  grid-column: 1;
  background-color: #112240;
  color: #BFB7B7;
  width: 356px;
  height: 620px;
  padding-left: 25px;
}

.Nickname {
  background-color: #2a6070;
border-radius: 13px;
justify-items: center;
align-content: center;

}
.Nickname h4 {
font-weight: 800;
font-size: 23px;

}
.shop-name h1 {
  font-weight: 800;
  font-size: 20px;
}
.shop-name{
    display: flex;
    flex-direction: column;
}
.shop-name p {
  font-weight: 400;
  font-size: 15px;
}

/* General nav styles */
.nav-links {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  list-style-type: none;
  gap: 3px;
}

.nav-links li a {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;   
  color: inherit;             
  border-radius: 6px;     
  padding: 10px 15px;
  width: 220px;
  border-radius: 6px; 
  transition: background-color 0.3s ease; 
}
.nav-links li a:hover {
  background-color: #2A6070; 
  color: #fff;               
}

.nav-links li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


.nav-links .dashboard a {
  font-size: 23px;
  color: white;
}


.nav-links .report a {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.topbar {
  grid-row: 1;
  grid-column: 2;
  background-color: white;
}

.main {
  grid-row: 2;
  grid-column: 2;
  background-color: white;
}

.profile-button {
  display: flex;
  background-color: #c89b3c;
  justify-content: flex-start;
  align-items: center;
  color: white;
  gap: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 300px;
  height: 78px;
  border-radius: 10px;
  margin-top: 3rem;
  text-decoration: none; 
}

.profile-pic {
  position: relative;
  width: 40px;   
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%; 
}

.profile-pic .initial {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: white;
}


.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.profile-info h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.profile-info p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.topbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px;
  background-color: #fff; 
 border-bottom: #112240 solid 1px;
}

.topbar-left h1 {
  font-weight: 800;
  font-size: 25px;
  margin: 0;
}

.topbar-left p {
  color: #7C8187;
  font-weight: 500;
  font-size: 16px;
  margin: 5px 0;
}

.topbar-left input {
  margin-top: 10px;
  padding: 5px;
  font-size: 14px;
}

.date-box {
  display: flex;
  align-items: center;
  background-color: #112240; 
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  gap: 10px;
}

.date-box img {
  width: 20px;
  height: 20px;
}

.date-box span {
  font-size: 15px;
  font-weight: 500;
}

.main{
    padding: 20px;
}


.Lead-container{
display: flex;
gap: 15px;
justify-content: space-between;
}

.Lead-Dash{
  background-color: #112240;
  color: white;
  padding: 20px;
  justify-content: space-evenly;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width:50%;
  height: 130px;
  position: relative;
}


.Lead-Dash h1 {
font-weight: 700;
font-style: Bold;
font-size: 15px;
}
.Lead-Dash p{
font-weight: 600;
font-style: SemiBold;
font-size: 13px;
}


.Lead-circle{
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
}

.Lead-Dash img {
  width: 20px;
  height: 20px;
}

.rate-section {
  display: flex;
  align-items: center;
  gap: 15px;
  
}

.rate-section {
  display: flex;
  align-items: center;
  gap: 15px;
}
.conversion {
  color: black;
  background-color: #C89B3C;
}

.total-customers {
  background-color: #112240;
}

.active-leads {
  background-color: #2A6070;
}

.deals-closed {
  background-color: #1E3A5F;
}
.rate-section p {
  font-size: 12px;
}

.customer {
  color: black;
}

.Quick {
font-weight: 800;
font-style: ExtraBold;
font-size: 15px;
  margin-top: 15px;
  color: #2A6070;
}


.q-container{
display: flex;
gap: 20px;
justify-content: flex-start;
margin-top: 10px;
align-items: center;
}

.q-action1{
  background-color: #112240;
  color: white;
  padding: 20px;
 justify-content: center;
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  width:210px;
  height: 12px;
}

.q-action1 h1 {
font-weight: 800;
font-size: 15px;
}

.q-action2{
  background-color: #2A6070;
  color: white;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  width:210px;
  height: 12px;
}

.q-action2 h1 {
font-weight: 800;
font-size: 15px;
}

.q-action3{
  background-color: #C89B3C;
  padding: 20px;
justify-content: center;
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  width:210px;
  height: 12px;
}

.q-action3 h1{
  color: #000000;
font-weight: 800;
font-size: 15px;
}


.Lead-Header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
}

.Lead-Info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
 
}

.funnel{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  height: 120px;
}

.Lead-Info h1{
  font-family: Inter;
font-weight: 700;
font-size: 32px;
  margin-top: 10px;
}

.Lead-Info p{
font-weight: 400;
font-style: Regular;
font-size: 24px;
color: #BFB7B7;
margin: 0;
}

.Lead-btn button{
  background-color: #112240;
  color: white;
  padding: 15px 70px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

